.apiday-login-body {
    background-image: url("../images/background-login.png");
    background-size: cover;
}

.apiday-console-panel {
    padding-top: 20px;
}

.apiday-panel-header-token {
    position: absolute;
    right: 0px;
    width: 300px;
}

.apiday-panel-controles i{
    float:right;
    margin-left: 10px;
}

.apiday-panel-controles {
    padding-bottom: 5px;
}

.apiday-evento-INAMOVIBLE {
    color: #E74C3C !important;
}

.apiday-evento-PUENTE {
    color: #2ECC71 !important;
}

.apiday-evento-TRASLADABLE {
    color: #3498DB !important;
}

.apiday-evento-NOLABORABLES {
    color: #F1C40F !important;
}

.apiday-evento-CUMPLE {
    color: #5CB8E6 !important;
}

.apiday-evento-FACTURA {
    color: #5CB8E6 !important;
}

.apiday-delete-calendario {
    float: right;
}

.apiday-create-calendario:hover {
    cursor: pointer;
}

.apiday-divider-menu {
    padding-bottom: 10px;
    background-color: #f0ad4e;
}

.apiday-input-calendario {
    color: black;
}

.apiday-calendario {
    margin-top: 20px;
}

.apiday-calendario h2 {
    font-size: 18px;
}

.apiday-calendario .fc-view-container {
    font-size: 10px;
}

.apiday-calendario .fc-toolbar {
    margin-bottom: 5px;
}

.apiday-otro-mes {
    visibility: hidden;
}
