<!--<div class="row">-->
<!--    <div class="col-lg-12">-->
<div class="modal-header">
    <h3>{{tituloModal}}</h3>
</div>
<div class="modal-body">
    <label for="descripcionEvento">Descripción</label>
    <input class="form-control" id="descripcionEvento" type="text" ng-model="descripcionEvento"/>
    <div class="mensajes-popup" ng-switch="mostrarMensaje">
        <div ng-switch-when="correcto" class="alert alert-success">Se ha guardado correctamente.</div>
        <div ng-switch-when="error" class="alert alert-danger">Ha ocurrido un error.</div>
        <div ng-switch-when="eliminacionCorrecta" class="alert alert-success">Se ha eliminado el evento correctamente.</div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" 
            class="btn btn-success" 
            ng-click="agregarEvento(descripcionEvento)"
            ng-show="mostrarAlta()">
        <i class="fa fa-check"></i>
    </button>
    <button type="button" 
            class="btn btn-success" 
            ng-click="modificarEvento(descripcionEvento)"
            ng-show="mostrarModificacion()">
        <i class="fa fa-check"></i>
    </button>
    <button type="button" 
            class="btn btn-danger" 
            ng-click="eliminarEvento()"
            ng-show="mostrarBaja()">
        <i class="fa fa-eraser"></i>
    </button>
</div>
<!--    </div>
</div>-->